* {
  box-sizing: border-box;
}
input:focus,
select:focus,
button:focus {
  outline: none;
}
/* Body and Headings */
body {
  background: #f0dbb2;
  margin: 0;
  text-align: center;
  width: 100%;
}
h1 {
  font-family: Monoton;
  font-size: 70px;
  margin: 0.2em;
}
h2 {
  color: #222;
  font-family: Arial;
  margin: 1em 0 0.5em;
  text-shadow: 1px 1px 2px #333;
}
 /* Grid Panel */
.setting-section {
  background: #fff;
  box-shadow: 0 0 10px 2px #0005;
  padding: 16px 0;
  width: 100%;
}
.grid-panel {
  margin-bottom: 8px;
}
.grid-panel div {
  border-radius: 8px;
  display: inline-block;
  height: 28px;
  width: 160px;
}
.canvas-height-area,
.canvas-width-area {
  background: #060;
}
.cell-size-area {
  background: #005;
}
div.grid-style-area {
  background: #300;
  width: 192px;
}
label {
  color: white;
  float: left;
  font: 13px/28px Arial;
  margin-left: 12px;
  text-shadow: 1px 1px 1px #333;
}
input[type="number"],
.grid-style {
  border-radius: 2px;
  border-style: none;
  float: right;
  height: 14px;
  margin-right: 12px;
  margin-top: 7px;
  width: 40px;
}
.grid-style {
  width: 72px;
}
/* Apply Button */
button {
  background: #333;
  border: none;
  border-radius: 8px;
  color: white;
  height: 28px;
  margin-bottom: 8px;
  margin-top: 16px;
  padding: 0;
  transition: background 0.2s;
  width: 196px;
}
button:hover {
  background: #444;
}
button:active {
  background: #333;
}
/* Color Picker*/
.color-picker {
  background: transparent;
  border: 1px solid green;
  border-style: none;
  height: 24px;
  padding: 0;
  width: 24px;
}
/* Canvas Section */
.canvas-section {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 10px 1px #0005;
  display: inline-block;
  margin: 24px 0;
  min-height: 150px;
  min-width: 500px;
  padding: 16px;

}
/* Canvas Style */
table {
  border-collapse: collapse;
  margin: 0 auto;
}
/* Cell Initial Size and Style */
td {
  height: 10px;
  transition: background 0.2s;
  width: 10px;
}
/* Grid Initial Style */
table,
tr,
td {
  border: 1px dotted #999;
}
